body {
    background:black;
    padding-top: 5rem;
    padding-bottom: 10rem;
    display: block;
}
/* .framer{
    display: inline-block;
} */
.pad-well {
    padding: 2rem;
}
.orange-text {
    color:yellow;
    font-size: 3rem;
    font-style: italic;
    text-align: center;
}
.list{
    color: yellow;
}
.row{
    display:inline-block;
    margin: 5rem;
    /* padding-left:5rem ; */
}
